---
import Card from '../components/InfoItem.astro';
import { vacancies } from '../data/vacancies';
const plazas = vacancies.vacancia.informacionPlazas["079779E278130300527"].plazas;
---

<main>
  <div class="flex flex-row justify-center items-center flex-wrap gap-5 m-10 ">
  {plazas.map(plaza => (
    <Card
      tipoVacante={plaza.tipoVacante}
      sostenimiento={plaza.sostenimiento}
      cctDondeCobra={plaza.cctDondeCobra}
      cctDondeTrabaja={plaza.cctDondeTrabaja}
      nombreCct={plaza.nombreCct}
      direccionCct={plaza.direccionCct}
      telefonoCct={plaza.telefonoCct}
      turno={plaza.turno}
    />
  ))}
  </div>
</main>
